<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>Blakes-garden by dpneumo</title>
  </head>

  <body>
    <header>
      <div class="inner">
        <h1>Blakes-garden</h1>
        <h2>Information about Blake&#39;s garden in a central and accessible location.</h2>
        <a href="https://github.com/dpneumo/blakes-garden" class="button"><small>View project on</small> GitHub</a>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">

          {{ content }}

        </section>

        <aside id="sidebar">
          {% include nav.html %}
          <nav>
            <ul>
              <li><a href="{{ site.baseurl }}/">Home</a></li>
              <li><a href="{{ site.baseurl }}/about">About</a></li>
              <li><a href="{{ site.baseurl }}/cv">CV</a></li>
              <li><a href="{{ site.baseurl }}/bloghome">Blog</a></li>
            </ul>
          </nav>
        </aside>
      </div>
    </div>
  </body>
</html>
